@model JS.Suite.Hub.Models.Account.ForgotPasswordViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <h2>@Localization.ForgotYourPassword</h2>

    @Html.ValidationSummaryAlert()

    @Html.Alert((string)ViewBag.StatusMessage, AlertTypes.Warning)

    using (Html.FieldGroup(g => g))
    {
        @Html.FieldFor(m => m.Email).WithFieldIcon(FAIcons.Envelope).WithCustomLayoutClasses("col-sm-6", "col-sm-offset-3")
    }

    using (Html.ButtonGroup(g => g))
    {
        @Html.Button(Localization.SendThePasswordResetEmail).WithCustomLayoutClasses("col-sm-4", "col-sm-offset-4").AsSubmit()
    }

    using (Html.TextGroup(g => g))
    {
        <div class="col-xs-12 loginMessage">
            <p>@Html.ActionLink(Localization.BackToTheLoginScreen, "Login")</p>
        </div>
    }
}
