@model JS.Suite.BusinessLogic.Templating.Models.Email.ConfirmationTokenModel
@{
    Layout = "~/Views/Shared/Common/Templates/Email/_EmailLayout.cshtml";
}
<p>@Localization.PleaseResetYourPasswordByClickingTheLinkBelow</p>
<p><a href="@Url.Action("SetPassword", "Account", new { userId = Model.User.JSUserId, code = Model.ConfirmationToken }, protocol: Request.Url.Scheme)">@Localization.ClickHereToResetYourPassword</a></p>

<p>@Localization.ThanksComma</p>
<p>@Localization.ApplicationName</p>